.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:hover {
    color: #fff;
 }
 a.nav-link , a.nav-link:hover{
    color: #fff;
 }

 ul.nav-tabs {
    border:none;
}
.nav-link .active:hover{
    color:#000;
}
li.summaryTab > a.nav-link.active:hover{
    color:darkslategray;
}


